CountToBillion/bin
CountToBillion/obj
CountToBillion/billion
CountToBillion/billion-rust
CountToBillion/BillionJava.class

PrimeNumbers/bin
PrimeNumbers/obj
PrimeNumbers/billion
PrimeNumbers/billion-rust
PrimeNumbers/BillionJava.class
